<!DOCTYPE html>
<html>

<head>
    <title>
        About Page
    </title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Weather website uses mapbox.com and weatherstack.com to fetch data. </p>
        <img src="img/me.jpg">
    </div>

    {{>footers}}
</body>

</html>